/*--logo properties kept in commont.css file to follow a DRY principle --*/

.nav-link {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  font-weight: 500;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
